set_working_directory=exampleWD
input_directory=exampleOption
input_file_name=exampleInputFile
path_to_github_repo=/scratch.global/coffm049/GDCGenomicsQC
user_x500=examplex500
use_crossmap=crossmapOption
use_genome_harmonizer=genomeHarmOption
use_king=kingOption
use_rfmix=rfmixOption
make_report=reportOption
custom_qc=customOption
custom_ancestry=ancestryOption
flag=flagOption
interactive=interactOption
combine_related=combineRelOption
DRY_RUN=true
CHECK_SEX=checkSexOption

