set_working_directory=/scratch.global/coffm049/toyPipeline
input_directory=/scratch.global/coffm049/baseImage/data
input_file_name=1kgSynthetic
path_to_github_repo=/scratch.global/coffm049/GDCGenomicsQC2
user_x500=examplex500
use_crossmap=0
use_genome_harmonizer=0
use_king=1
use_rfmix=0
make_report=0
custom_qc=0
custom_ancestry=0
flag=0
interactive=0
combine_related=0
CHECK_SEX=0
user_x500=coffm049
DRY_RUN=false
